<%= simple_form_for @job, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :job_type_id, collection: @job_types %>
  <%= f.input :box_name_id, collection: @boxes %>
  <%= f.input :owner, placeholder: 'bkpbtch@bkglobal' %>
  <%= f.input :command %>
  <%= f.input :machine_id, collection: @machines %>
  <%= f.input :permission, placeholders: 'gx,wx,mx' %>
  <%= f.input :date_condition %>
  <%= f.input :days_of_week %>
  <%= f.input :start_times %>
  <%= f.input :condition %>
  <%= f.input :short_description %>
  <%= f.input :str_out_file, label: 'Standard Output File' %>
  <%= f.input :str_err_file, label: 'Standard Error File' %>
  <%= f.input :alarm_if_fail, placeholder: '1' %>
  <%= f.input :avg_runtime_min, label: 'Average Runtime (Minutes)' %>
  <%= f.input :avg_runtime_sec, label: 'Average Runtime (Seconds)' %>
  <%= f.input :max_runtime_min, label: 'Maximum Runtime (Minutes)' %>
  <%= f.input :system_id, collection: @systems %>
  <%= f.input :description %>
  <%= f.input :priority_id, collection: @priorities %>
  <%= f.input :critical, placeholders: '0' %>
  <%= f.input :actions %>
  <%= f.input :notes %>
  <%= f.input :submited_by_id, collection: @employees %>
  <%= f.input :created_on %>
  <%= f.input :modified_by_id, collection: @employees %>
  <%= f.input :last_modified_on %>
  <%= f.input :update_log %>
  <%= f.input :job_status_id, collection: @job_status %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                jobs_path, :class => 'btn' %>
  </div>
<% end %>
