<%= simple_form_for @machine, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :server_name, placeholder: '.whopper.com' %>
  <%= f.input :machine_status_id, collection: @machine_statuses %>
  <%= f.input :ip %>
  <%= f.input :os_id, label: 'OS', collection: @oses %>
  <%= f.input :environment_id, collection: @environments %>
  <%= f.input :hosting_id, collection: @hostings %>
  <%= f.input :backup_server, placeholder: 'b' %>
  <%= f.input :description %>
  <%= f.input :comments %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                machines_path, :class => 'btn' %>
  </div>
<% end %>
